:root {
  /* colors */
  --clr-black: 0 0% 0%;
  --clr-white: 100 100% 99%;

  --clr-light-grey: 0 0% 90%;
  --clr_grey: 0, 0%, 100%;
  --clr-dark-grey: 0 2% 72%;

  --clr-prime: 355 76% 56%;
  --clr-second: 203 37% 45%;

  --clr-dark-yellow: 33 89% 57%;
  --clr-light-yellow: 38 95% 66%;

  --clr-dark-brown: 24 22% 17%;

  --clr-bg-white: 33 100% 98%;
}
